<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Boat Logger 2.0</a>
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/boats">Boats</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/camera">Webcam</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>